[title=登录成功]
登录成功。<br/>

[main_menu_index=进入压流浏览器]<br/>

<!--[main_menu_index2=进入免流浏览器](请注意进入免流后保存书签)<hr/>

压流系统需要您的浏览器支持COOKIE，否则可能造成无法正常登陆！(免流无需COOKIE)<hr>
免流系统并不完全免流!由于各种限制等原因，造成下载、图片、表单无法免流，还有某些东西也是无法免流的。但是看网页看小说是绝对能起到免(省)流量的！还有就是我没有对网盘相关的部分进行免流处理，我也没测试，估计不能用。我并没有对此免流系统进行全方位评测。如有问题请前往jiuwap.cn探讨。<br/>[免流更新 2012-2-16 2:22 By tianyiw]<br/>感谢网友提供免流BUG地址，本人在原地址基础上探索研究改出此免流方法。本免流基于玖玩浏览器20110901制作(兼容更高版本)，如需下载补丁，请前往玖玩网下载。<hr>
再提示一点，如果你真的想完全免流，可以从设置里关闭图片显示，浏览手机普通版网页(wml)，不要提交任何表单。当然，从登陆到这个页面是需要扣流量的。一般情况，提交表时不免流，之后点连接自动进入免流状态。当然，我无法保证每次都能正常回到免流！请自己注意选中链接的URL是否是10086的。-->